.card{
  border-radius: 30px;
  border: 1px solid black;
  padding: 5px 30px 5px;
  //filter: drop-shadow(30px 10px 4px #000000);
}

.modalBody{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  overflow-y: scroll;
}
.bodyText{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
  border: 1.5px solid black;

  .navigation{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .text{
    width: 100%;

    margin-top: 40px;
    padding-left: 40px;
    text-align: left;
  }
}
